<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/images/logo-blue.png">">
    
    <title>Dreher Drama</title>
    <link rel="stylesheet" href="/css/main.css" media="all" onload="this.media='all'" fetchpriority="low">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Dreher Drama</h1>
        {# <nav>
            {% for link in links %}
                <a href={{link.url}} {% if link.external %}target="_blank"{% endif%} title={{link.label}}>{{link.label}}</a>
            {% endfor %}
        </nav> #}
    </header>
    <article>
        <nav>
            {% for link in links %}
                <a href={{link.url}} {% if link.external %}target="_blank"{% endif %} title={{link.label}}>{{link.label}}</a>
            {% endfor %}
        </nav>
        {{content | safe}}
    </article>
</body>
</html>